body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: #15143966;
}

.title {
  font-size: 42px;
  line-height: 52px;
  text-align: left;
  color: #1e0e62;
}

.left-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  padding: 48px;
  background-color: #fff;
}
.sing-in {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-inputs {
  width: 60%;
}
input {
  border: 1px solid #ced4da;
  padding: 12px 64px;
  border-radius: 24px;
}

.headline {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  color: #1e0e62;
}

.btn--bottom-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 12px 48px;
  border-radius: 24px;
  color: white;
  background: #25dac5;
  white-space: nowrap;
}

.bottom-headline-text {
  width: 240px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #15143966;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
